{% extends 'admin_header.html' %}
{% block head %}
<style>
  .image img{
    width: 100px;
    height :80px;
  }
  i{
    font-size: 2rem;
  }
  .btn{
    color: #FF0032;
  }
  .btn:hover{
    color:#CD0404;
  }


</style>
{% endblock %}
{% block body %}

<div class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">

  <div class="bg-gray-800 pt-3">
      <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
          <h3 class="font-bold pl-2">total Users</h3>
      </div>
  </div>

  <div class="container mt-3">
    

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>phone</th>
        <th>Email</th>
        <th>Pin code</th>
        <th>Address</th>
        <th>Date Joined</th>
      </tr>
    </thead>
    <tbody>
    {% for user  in data: %}
      <tr>

        <td>{{user.name}}</td>
        <th>{{user.phone}}</th>
        <th>{{user.email}}</th>
        <th>{{user.pin}}</th>
        <th>{{user.Address}}</th>
        <th>{{user.date_joined}}</th>
      </tr>

    {% endfor %}

    </tbody>
  </table>

</div>

</div>


{% endblock %}

