{% extends 'admin_header.html' %}
{% block head %}
<style>
  .image img{
    width: 100px;
    height :80px;
  }
  i{
    font-size: 2rem;
  }
  .b2 i:hover{
    font-size:3rem;
    color:red;
  }
  .b1 i:hover{
    font-size:3rem;
    color:green;
  }

</style>
{% endblock %}
{% block body %}

<div class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">

  <div class="bg-gray-800 pt-3">
      <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
          <h3 class="font-bold pl-2">Requested Sellers </h3>
      </div>
  </div>
  <div class="container-fluid mt-3">
    
 
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Shop Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Detail</th>
        <th>Image file</th>
        <th>Verify</th>
        <th>Cancel</th>
      </tr>
    </thead>
    <tbody>
    {% for x  in data: %}
      <tr>

        <td>{{x.id}}</td>
        <td>{{x.name}}</td>
        <td>{{x.shop}}</td>
        <td>{{x.phone}}</td>
        <td>{{x.email}}</td>
        <td>{{x.details}}</td>

        {% set a = x.img_file %}

        {% set b= encode(a) %}

        {% set img = b.decode('UTF-8') %}
        <td class="image">
          <img src="data:image/png;charset-utf;base64,{{img}} ">
        </td>
        <td>
<!--          {{x.verify}}-->
          <form action="/verify" method="post">
          <button class="btn b1"> <i class="fa-sharp fa-solid fa-square-check"></i> 
            <input type="hidden" value="{{x.id}}" name="id">
          </button>
          </form>
        </td>
        <td>
        <form action="/reject_seller" method="post">
            <button class="btn b2 "> <i class="fa-solid fa-trash"></i>
              <input type="hidden" value="{{x.id}}" name="id">
            </button>
          </form>
        </td>
      </tr>

    {% endfor %}

    </tbody>
  </table>
  </form>
</div>
</div>




{% endblock %}

