
{% extends 'main_header.html' %}
{% block head%}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{

  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #eee, #E4DCCF);
}
.title button{
  margin-right: 35px;
  margin-left: 50px;
}

.container{
  margin-top:3%;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .button{
   height: 45px;
   margin: 25px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
hr{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.flash{
margin:auto;
width:25%;
margin-top:15px;
text-align:center;

}
.flash-container{
    color:white;
    background-color:blue;
}


</style>

{%endblock%}
{% block body%}
<div class="flash">
    {% with message = get_flashed_messages(with_categories=true) %}
      {% if message%}
        {% for categories,mesage in message %}
          <div class="alert flash-container">{{mesage}}</div>
        {% endfor %}
      {% endif %}

    {% endwith %}
</div>

<div class="container bar">
     <div class="title">
      <!-- <a href="/register"><Button class="btn btn-lg btn-primary me-6"> User Registration</Button> </a>
      <a href="/seller_register"><button class="btn btn-lg btn-primary me-6">Seller Registration</button></a> -->
      <h1>User Registration</h1>
   </div> 
    
       <!-- <hr> -->
      <div class="content bar">
      <form action="/user_details" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" placeholder="Enter your name" name="name" required >
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="number" placeholder="Enter your phone number" name="phone" required >
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" placeholder="Enter your email" name="email" required >
          </div>
          <div class="input-box">
            <span class="details">Pin Code</span>
            <input type="number" placeholder="Enter your pin code" name="pin" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your password" name="pwd" required >
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" placeholder="Confirm your password" name="re_pwd" required >
          </div>
          <div class="input-box ">
            <span class="details  ">Address</span>
            <input type="text" placeholder="Enter your current address" style="min-height: 80px;" name="address" required >
          </div>
        </div>


        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>
<script src="{{url_for('static', filename='js/nav.js') }}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
  $(document).ready(function(){
      $('.alert').hide(4000);
  });
</script>
{% endblock %}
