{% extends 'seller_header.html' %}
{% block head %}
<style>
  .image img{
    width: 100px;
    height :80px;
  }
  i{
    font-size: 2rem;
  }
  .btn1{
    color: #FF0032;
  }
  .btn1:hover{
    color:#CD0404;
  }
  i:hover{
    font-size:3rem;
  }
.profile i{
		font-size:2.5rem;
		color:white;

	}
	.profile p{
		font-size:2rem;
		position:relative;
		bottom:22px;
	}
</style>
{% endblock %}
{% block body %}
<div id="main">

		<div class="head">
			<div class="col-div-6">
				<span style="font-size:30px;cursor:pointer; color: white;" class="nav"  >☰ View orders</span>
				<span style="font-size:30px;cursor:pointer; color: white;" class="nav2"  >☰ View orders</span>
			</div>

			<div class="col-div-6">
				<div class="profile">

<!--					<img src="images/user.png" class="pro-img" />-->
					<i class="fa-solid fa-user pro-img"></i>
					<p>{{seller.name}} <span>{{seller.email}}</span></p>
				</div>
			</div>
				<div class="clearfix"></div>
		</div>

      <div class="container mt-3">
        <h1>View order</h1>
        <hr>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Fish Name</th>
            <th>Price</th>

            <th>Buyer Name</th>
            <th>Buyer Place</th>
              <th> Phone Number</th>
            <th>email</th>
            <th>Pin code</th>
            <th>Purchase date</th>
          </tr>
        </thead>
        <tbody>
        {% for user,fish,product  in data: %}
          <tr>
            <td>{{fish.name}}</td>
            <td>{{fish.price}}</td>
            <td>{{user.name}} </td>
            <td>{{product.details}} </td>
            <td>{{product.phone}} </td>
            <td>{{user.email}}</td>
            <td>{{user.pin}}</td>
            <td>{{product.date_joined}}</td>
          </tr>

        {% endfor %}

        </tbody>
      </table>
    </div>
</div>




{% endblock %}

