{% extends 'seller_header.html' %}
{% block head %}
<style>
	.card1,.box{
		height:150px;
	}
</style>
{% endblock %}
{% block body %}
<div id="main">
<!--		default-->
		<div class="head">
			<div class="col-div-6">
				<span style="font-size:30px;cursor:pointer; color: white;" class="nav"  >☰ Bidding</span>
				<span style="font-size:30px;cursor:pointer; color: white;" class="nav2"  >☰ Bidding</span>
			</div>

			<div class="col-div-6">
				<div class="profile">

<!--					<img src="images/user.png" class="pro-img" />-->
				<i class="fa-solid fa-user pro-img"></i>
                    <p>{{seller.name}} <span>{{seller.email}}</span></p>
				</div>
			</div>
				<div class="clearfix"></div>
		</div>


		<div class="clearfix"></div>
				<br/>

				<div class="col-div-4 card1">
					<a href="/seller/bidding_records">
					<div class="box">
						<p>{{num}}<br/><span class="mt-3"> Bidding records</span></p>
						<i class="fa fa-list box-icon"></i>
					</div>
					</a>
				</div>
				<div class="col-div-4 card1">
					<a href="/seller/bidding_upload_fisheries">
					<div class="box">
				<p><br/><span class="py-3">Upload Fishes</span></p>
						<i class="fa fa-list box-icon"></i>
<!--						<i class="fa-solid fa-cloud-arrow-up fa"></i>-->
					</div>
					</a>
				</div>
</div>
{% endblock %}